*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1C1C1C;
  font-family: Robota,  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

ul ,ol {
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

